#gameStage {
	margin-top: 20px;
}

table.center, .divGameStage{
	text-align: center;
}

.divGameStage {
	display: inline-block;
}

#initialPage input {
	margin-top: 10px;
}

.gameCell {
	width: 100px;
	height: 100px;
}

.borderBottom {
	border-bottom: 1px solid red;
}

.borderBottomRight {
	border-bottom: 1px solid red;
	border-right: 1px solid red;
}

.borderRight {
	border-right: 1px solid red;
}

/*
#nicknamePlayer1 {
	font-weight: 700; 
	color: white;
	background: #ef1d30;
	padding: 0px 8px;
}
*/
